#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

#
# This systemd unit starts a termix instance using Podman.
# Most parts of this file come from podman-generate-systemd.
#

[Unit]
Description=Podman termix.service
Requires=termix-app.service 
Before=termix-app.service 

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=-%S/state/environment
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/termix.pid %t/termix.pod-id
ExecStartPre=/usr/bin/podman pod create --infra-conmon-pidfile %t/termix.pid  --pod-id-file %t/termix.pod-id  --name termix  --network=slirp4netns:allow_host_loopback=true --publish 127.0.0.1:${TCP_PORT}:8080  --replace
ExecStart=/usr/bin/podman pod start --pod-id-file %t/termix.pod-id
ExecStop=/usr/bin/podman pod stop --ignore --pod-id-file %t/termix.pod-id -t 10
ExecStopPost=/usr/bin/podman pod rm --ignore -f --pod-id-file %t/termix.pod-id
PIDFile=%t/termix.pid
Type=forking

[Install]
WantedBy=default.target
